body{
    color: rgb(77, 0, 128);
    text-align: center;
    font-family: "Comic Sans MS";
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid lightblue;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
    color: rgb(77, 0, 128);
}